body{
    margin: 0;
    padding: 0;
}

header{
    display: block;
    background-image: linear-gradient(to right, blue, pink);
    position: sticky;
    top: 0;
    color: white;
}

header > h1{
    display: inline;
}

search{
    display: inline-block;
    position: absolute;
    left: 85%;
    top: 25%;
}

mark{
    margin: 10px;
    background-color: greenyellow;
}


code{
    color: black;
}


a{
    text-decoration: none;
    color: rgb(0, 0, 255);
}
a:visited{
    color: rgb(0, 0, 255);
}

a::after{
    content: ' 🔗 ';
}