img{
    opacity: 0%;
    width: 2%;
    position: relative;
    left: 98%;
}

img:hover{
    opacity: 100%;
}

mark{
    background-color: greenyellow;
}

code{
    color: black;
}


a{
    text-decoration: none;
    color: rgb(0, 0, 255);
}
a:visited{
    color: rgb(0, 0, 255);
}

a::after{
    content: ' 🔗 ';
}