@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

header{
    display: inline-block;
    background-color: black;
    min-width: 100%;
    max-height: 15vh;
    text-align: center;
    padding-bottom: 30px;
}

header > h1{
    padding-top: 5%;
    color: white;
    font-family: 'Passion One', sans-serif;
    font-weight: bolder;
    font-size: 3em;
}

header > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

a{
    text-decoration: none;
    color: white;
}

a:visited{
    color: white;
}

a:hover{
    text-decoration: underline;
}

main{

}

p{
    line-height: 35px;
    font-family: 'Sriracha', cursive;
}

section{
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.normal{
    background-color: white;
}

.imagem{
    padding-left: 3%;
    background-color: gray;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: fixed;
}

div{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.514);
    padding: 2%;
}

div > p{

    color: white;
}
footer{
    display: inline-block;
    background-color: black;
    min-width: 100%;
    max-height: 1vh;
    text-align: center;
    padding-bottom: 30px; 
    text-align: center;
}

footer > p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 5px;
    color: white;
}
