

li:nth-child(odd){
    list-style-type: disc;
}

a{
    text-decoration: none;
    color: green;
}

a:visited{
    color: red;
}

a:hover{
    text-decoration: underline;
}

li{
    list-style-type: none;
}

